*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

li{
     list-style: none;
}

a{
    text-decoration: none;
}

img{
    border: 0;
}

.panel > .bs > tr > td.bs{
    padding: 0
}

.panel > .panel-heading{
    font-size: large;
    font-weight: bold;
}

.panel > .bs > tr > th {
    font-size: medium;
    font-weight: bolder;
    padding: 10px 10px;
}

.panel > .bs > tr > td {
    padding: 10px 10px;
}

.panel > table > tr > th {
    font-size: medium;
    font-weight: bolder;
    padding: 5px 5px;
}

.panel > table > tr > td {
    padding: 5px 5px;
}



