*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

li{
     list-style: none;
}

a{
    text-decoration: none;
}

img{
    border: 0;
}


#content {
    width:1200px; margin: 0 auto;

    overflow: hidden;
}
#content > #section{
    width: 750px;
    float:left;
}
#content > #aside{
    width: 250px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    padding: 2px 15px;
    float: right;
}

#content > #aside > section.buttons{
    overflow: hidden;
}
#content > #aside > section.buttons > label{
    display: block; float: left;

    width:100px; height: 30px;
    text-align: center;

    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;

    background: black;
    color:white;
}


#content > #aside > input:nth-of-type(1){
    display: none;
}
#content > #aside > input:nth-of-type(1)~div:nth-of-type(1){
    display: none;
}
#content > #aside > input:nth-of-type(1):checked~div:nth-of-type(1){
    display: block;
}


#content > #aside > input:nth-of-type(2){
    display: none;
}
#content > #aside > input:nth-of-type(2)~div:nth-of-type(2){
    display: none;
}
#content > #aside > input:nth-of-type(2):checked~div:nth-of-type(2){
    display: block;
}








