*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

li{
     list-style: none;
}

a{
    text-decoration: none;
}

img{
    border: 0;
}


div.bs{
    padding: 10px 10px;
}

td{
    padding: 10px 10px;
}

form.bs{
    margin: 0 auto;
    width: 100px;
}

button.bs{
    margin: 5px auto;
    width: 100px;
}





