*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

li{
     list-style: none;
}

a{
    text-decoration: none;
}

img{
    border: 0;
}

#nav{
    width: auto;
    height: 100px;
    position: relative;
    background-color: #E0D8FF;
}

#nav > #title{
    float: left;
    left: 50px;
    font-family: 'Sriracha', cursive;
    color: #4C389C;
    position: relative;
    text-shadow:-2px 0 white,0 2px white,2px 0 white,0 -2px white;

}
#nav>#title>#fin{
    font-style: normal;
    margin-top: 10px;
}
#nav>#title>#desc{
    font-weight: lighter;
    font-style: italic;
    margin-top: -15px;
}

/* #nav > #gnb{
    position: absolute;
    right: 0;
    top: 0;
} */

#nav > #lnb{
    position: absolute;
    right: 50px;
    bottom: 10px;
    float:right;
}

/* #gnb > ul{
    overflow: hidden;
} 
#gnb > ul > li{
    float: left;
    display: block;
    padding: 2px 10px;
    border: 1px solid black;
}
#gnb > ul > li:first-child{
    border-radius: 10px 0 0 10px;
}
#gnb > ul > li:last-child{
    border-radius: 0 10px 10px 0;
} */

#lnb > ul{
    overflow: hidden;
} 
#lnb > ul > li{
    float: left;
    display: block;
    padding: 5px 10px;
    font-family: 'Sriracha';
    /* border: 1px solid #BF7137; */
    text-shadow:-2px 0 white,0 2px white,2px 0 white,0 -2px white;
}
#lnb > ul > li:first-child{
    border-radius: 5px 0 0 5px;
}
#lnb > ul > li:last-child{
    border-radius: 0 5px 5px 0;
}
