*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

li{
     list-style: none;
}

a{
    text-decoration: none;
}

img{
    border: 0;
}

#nav{
    width: auto;
    height: 100px;
    position: relative;
    background-color: antiquewhite;
}

#nav > #title{
    float: left;
    left: 50px;
    font-family: 'Sriracha', cursive;
    color: #5E2E0F;
    position: relative;

}

/* #nav > #gnb{
    position: absolute;
    right: 0;
    top: 0;
} */

#nav > #lnb{
    position: absolute;
    right: 50px;
    bottom: 10px;
    float:right;
}

/* #gnb > ul{
    overflow: hidden;
} 
#gnb > ul > li{
    float: left;
    display: block;
    padding: 2px 10px;
    border: 1px solid black;
}
#gnb > ul > li:first-child{
    border-radius: 10px 0 0 10px;
}
#gnb > ul > li:last-child{
    border-radius: 0 10px 10px 0;
} */

#lnb > ul{
    overflow: hidden;
} 
#lnb > ul > li{
    float: left;
    display: block;
    padding: 5px 10px;
    font-family: 'Sriracha';
    /* border: 1px solid #BF7137; */
}
#lnb > ul > li:first-child{
    border-radius: 5px 0 0 5px;
}
#lnb > ul > li:last-child{
    border-radius: 0 5px 5px 0;
}
